*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.survey{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.survey h3{
    font-size: 30px;
    font-family: initial;
    color: white;
}
